<!--customer情報（ヘッダー）-->

<!--indexの部分テンプレート-->
<h1>投稿一覧</h1>

<%= @arts.each do |art| %>
<p>タイトル</p>
<span><%= link_to art.title, art_path(art.id) %></span>

<%= image_tag art.image %>
<% end %>

<!--投稿したcustomerニックネーム-->